<%= form_with(model: @blog, local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%=msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_title">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="blog_content">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="blog_visit_date">
    <%= form.label :visit_date %>
    <%= form.date_select :visit_date,  include_blank: true %>
  </div>

  <div class="blog_status">
    <%= form.label :status %>
    <%= form.select :status, Blog.statuses.keys.to_a, {} %>

  </div>

  <div class="blog_picture">
    <%= form.label :picture %>
    <% if @blog.picture.url %>
      <%= image_tag @blog.picture.url %>
    <% end %>
    <br>
    <%= form.file_field :picture %>



  </div>

  <%= form.submit %>
<% end %>

<%= link_to "お客様からのレビュー一覧", blogs_path %>
