<h1>ブログ一覧</h1>

<br>
<%= link_to '優先順位でソートする', blogs_path(sort_priority: "true") %>
<br>
<%= link_to '終了期限でソートする', blogs_path(sort_cut_off_date: "true") %>
<br>
<%= link_to '入力された順でソートする', blogs_path(sort_created: "true") %>

<br>
<br>





<table>
  <tr>
    <th>ユーザー</th>
    <th>タイトル</th>
    <th>コメント</th>
    <th>写真の有無</th>
    <th>作成日</th>

    <th>    </th>

    <th>ご満足度（１～５）</th>
    <th>ご満足度（１～５）</th>
    <th>ご来店日</th>
    <th></th>

  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.user.name %></td>

    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td><% if blog.picture.url %>
      <%=  '★'%>
        <% else %>
      <%=   'なし'%>
        <% end %>
    </td>
    <td><%= blog.created_at.strftime('%Y年%m月%d日')%></td>

      <td>     </td>

    <td><%= blog.status %></td>
    <td><%= blog.priority %></td>

    <td><% if blog.cut_off_date %>
      <%= blog.cut_off_date.strftime('%Y年%m月%d日') %>
        <% else %>
      <%= blog.cut_off_date %>
        <% end %>
    </td>



    <td><%= link_to '詳細確認＆コメント入力', blog_path(blog.id) %></td>

    <% if user_signed_in? %>
      <td><%= link_to 'ブログを編集する', edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to 'ブログを削除する', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>


  </tr>
<% end %>
</table>





<br>
<% if user_signed_in? %>
  <%=link_to 'ブログを登録する', new_blog_path %>
<% end %>
