<div class="blog">
  <div class='blogtitle'>
<p1>業務連絡一覧画面</p1>
  </div>

<button type="button" class="btn btn-primary rounded-0">
<%= link_to '優先度でソートする', blogs_path(sort_status: "true") %></button>

<button type="button" class="btn btn-primary rounded-0">
<%= link_to '完了予定期日でソートする', blogs_path(sort_visit_date: "true") %></button>

<button type="button" class="btn btn-primary rounded-0">
<%= link_to '入力された順でソートする', blogs_path(sort_created: "true") %></button>

<br>

<table class="table table-hover">
  <tr>
    <th>従業員名</th>
    <th>タイトル</th>
    <th>写真</th>
    <th>作成日</th>
    <th>優先度</th>
    <th>完了予定期日</th>
    <th>詳細</th>
    <th>編集</th>
    <th>削除</th>

  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.user.name %></td>

    <td><%= blog.title %></td>
    <td><% if blog.picture.url %>
      <%=  '🐓'%>
        <% else %>
      <%=   'なし'%>
        <% end %>
    </td>
    <td><%= blog.created_at.strftime('%Y年%m月%d日')%></td>



    <td><%= blog.status %></td>

    <td><% if blog.visit_date %>
      <%= blog.visit_date.strftime('%Y年%m月%d日') %>
        <% else %>
      <%= blog.visit_date %>
        <% end %>
    </td>



    <td><%= link_to '🐓', blog_path(blog.id) %></td>

    <% if current_user == nil %>
    <% elsif current_user.id == blog.user_id || current_user.admin %>
      <td><%= link_to '🐓', edit_blog_path(blog.id) %></td>
      <td><%= link_to '🐓', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>


  </tr>
<% end %>
</table>

<button type="button" class="btn btn-primary rounded-0">

<%= paginate @blogs %></button>
<br>
<br>

<% if user_signed_in? %>
<button type="button" class="btn btn-danger rounded-pill">
  <%=link_to '業務連絡を登録する', new_blog_path %></button>
<% end %>

<% if current_user == nil %>
<% elsif current_user.admin %>
<button type="button" class="btn btn-success rounded-pill">
  <%= link_to '従業員一覧へ', users_path %></button>
<% end %>
<br>

<div>
