<div class="container">


  <div class="blog-text">
    <p><strong>タイトル</strong>：<%= @blog.title %></p>
    <p><strong>内容</strong>：<%= @blog.content %></p>

    <p><strong>写真</strong>：
      <% if  @blog.picture.url %>
        <%= image_tag @blog.picture.url %>
      <% else %>
        <%= '写真はありません。' %>
      <% end %>
    </p>

    <table>
      <tr>
        <th>完了予定日</th>
        <th>優先度</th>

      </tr>
      <tr>
        <td><%= @blog.visit_date %></td>
        <td><%= @blog.status %></td>

      </tr>
    </table>






  </div>

  <p>コメント一覧</p>

  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
  </div>
  <% if current_user == nil %>
  <% elsif current_user %>
  <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
  <% end %>

  <% if current_user == nil %>
  <% elsif current_user.id == @blog.user_id || current_user.admin %>
  <%= link_to '編集', edit_blog_path(@blog) %>
  <% end %>
  <%= link_to '戻る', blogs_path %>
</div>
