<div class="blogshowbody">
  <div class="blogeachtitle">
　<p1>詳細画面</p1>
  </div>
  <br>
  <button type="button" class="btn btn-success rounded-pill">
  <%= link_to '業務連絡一覧へ戻る', blogs_path %></button>


  <div class="blog-text">
    <p><strong>タイトル</strong>：<%= @blog.title %></p>
    <p><strong>内容</strong>：<%= @blog.content %></p>

    <p><strong>写真</strong>：
      <% if  @blog.picture.url %>
        <%= image_tag @blog.picture.url ,:width => '400', :height => '400'  %>
      <% else %>
        <%= '写真はありません。' %>
      <% end %>
    </p>

    <table>
      <tr>
        <th>完了予定日</th>
        <th>優先度</th>

      </tr>
      <tr>
        <td><%= @blog.visit_date %></td>
        <td><%= @blog.status %></td>

      </tr>
    </table>






  </div>

  <p>コメント一覧</p>

  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
  </div>
  <% if current_user == nil %>
  <% elsif current_user %>
  <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
  <% end %>


</div>
