
<%= form_with(model: @sake, local: true) do |form| %>
  <% if @sake.errors.any? %>
    <div id="error_explanation">
      <h2><%= @sake.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @sake.errors.full_messages.each do |msg| %>
        <li><%=msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="sake_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="sake_picture">
    <%= form.label :picture%>
    <%= form.file_field :picture %>
    <% if @sake.picture.url %>
      <%= image_tag @sake.picture.url %>
    <% end %>
    <br>

  </div>
  <div class="sake_price">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="sake_kind">
    <%= form.label :kind %>
    <%= form.select :kind, Sake.kinds.keys.to_a, {} %>
  </div>


  <%= form.submit %>
<% end %>

<%= link_to "日本酒一覧画面に戻る", sakes_path %>
