<div class ="main-container-sake">



<h1>日本酒一覧</h1>

<div sake>
<table>
  <thead>
  <tr>
    <th>おしなもの</th>
    <th>値段</th>
    <th>ひとこと</th>
    <th>写真</th>

  </tr>
  </thead>


  <tbody>
<% @sakes.each do |sake| %>
  <tr>
    <td><%= sake.name %></td>

    <td><%= sake.price %></td>
    <td><%= sake.comment %></td>
    <td><% if sake.picture && sake.picture.url %>
          <%= link_to '🐓', sake_path(sake.id) %>
        <% else %>
          <%= "" =%>
        <% end %>
    </td>
    <% if current_user == nil %>
    <% elsif current_user.admin %>
      <td><%= link_to '日本酒を編集する', edit_sake_path(sake.id), data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to '日本酒を削除する', sake_path(sake.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>


  </tr>
<% end %>
</tbody>
</table>
</div sake>

<br>
<% if current_user == nil %>
<% elsif current_user.admin %>
  <%=link_to '新しく日本酒を登録する', new_sake_path %>
<% end %>
</div>
