<h1>お飲み物</h1>
<h2>当店ではお酒にこだわる店主がユニークなハイボールも仕入れております。是非こちらもお楽しみください。</h2>




<div drinkkind0>
  <h2>［ドリンク］</h2>
 <table>
   <thead>
     <tr>　
       <th>おしなもの</th>
       <th>値段</th>
     </tr>
    </thead>

    <tbody>
      <% @drinks.each do |drink| %>
        <% if drink.kind == 'ドリンク' %>
      <tr>
       <td><%= drink.name %></td>
       <td><%= drink.price %></td>

    <% if current_user == nil %>
    <% elsif current_user.admin %>
      <td><%= link_to "ドリンクを編集する", edit_drink_path(drink.id), data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to 'ドリンクを削除する', drink_path(drink.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>
    </tr>
   <% end %>
  <% end %>
  </tbody>
 </table>
</div>

<br>

<div drinkkind1>
  <h2>［ウイスキー・ハイボール］</h2>
 <table>
   <thead>
     <tr>
       <th>おしなもの</th>
       <th>値段</th>
     </tr>
    </thead>

    <tbody>
      <% @drinks.each do |drink| %>
        <% if drink.kind == 'ウイスキー、ハイボール' %>
      <tr>
       <td><%= drink.name %></td>
       <td><%= drink.price %></td>

    <% if current_user == nil %>
    <% elsif current_user.admin %>
      <td><%= link_to "ドリンクを編集する", edit_drink_path(drink.id), data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to 'ドリンクを削除する', drink_path(drink.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>
    </tr>
   <% end %>
  <% end %>
  </tbody>
 </table>
</div>

<br>

<div drinkkind2>
  <h2>［プレミアム焼酎ハイボール］</h2>
 <table>
   <thead>
     <tr>
       <th>おしなもの</th>
       <th>値段</th>
     </tr>
    </thead>

    <tbody>
      <% @drinks.each do |drink| %>
        <% if drink.kind == 'プレミアム焼酎ハイボール' %>
      <tr>
       <td><%= drink.name %></td>
       <td><%= drink.price %></td>

    <% if current_user == nil %>
    <% elsif current_user.admin %>
      <td><%= link_to "ドリンクを編集する", edit_drink_path(drink.id), data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to 'ドリンクを削除する', drink_path(drink.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>
    </tr>
   <% end %>
  <% end %>
  </tbody>
 </table>
</div>

<br>

<div drinkkind3>
  <h2>［サワー・お茶ハイ］</h2>
 <table>
   <thead>
     <tr>
       <th>おしなもの</th>
       <th>値段</th>
     </tr>
    </thead>

    <tbody>
      <% @drinks.each do |drink| %>
        <% if drink.kind == 'サワー、お茶ハイ' %>
      <tr>
       <td><%= drink.name %></td>
       <td><%= drink.price %></td>

    <% if current_user == nil %>
    <% elsif current_user.admin %>
      <td><%= link_to "ドリンクを編集する", edit_drink_path(drink.id), data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to 'ドリンクを削除する', drink_path(drink.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>
    </tr>
   <% end %>
  <% end %>
  </tbody>
 </table>
</div>





<br>

<% if current_user == nil %>
<% elsif current_user.admin %>
  <%= link_to '新しくドリンクを登録する', new_drink_path %>
<% end %>
