
<%= form_with(model: @food, local: true) do |form| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= @food.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @food.errors.full_messages.each do |msg| %>
        <li><%=msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="food_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="food_picture">
    <%= form.label :picture%>
    <%= form.file_field :picture %>
    <% if @food.picture && @food.picture.url %>
    <%= form.hidden_field :image_cache %>
    <% end %>
  </div>
  <div class="food_price">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  <div class="food_comment">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>




  <%= form.submit %>
<% end %>

<%= link_to "焼き鳥一覧画面に戻る", foods_path %>
