<div class ="main-container-food">



<h1>焼き鳥一覧</h1>

<div food>
<table>
  <thead>
  <tr>
    <th>おしなもの</th>
    <th>値段</th>
    <th>ひとこと</th>
    <th>写真</th>

  </tr>
  </thead>


  <tbody>
<% @foods.each do |food| %>
  <tr>
    <td><%= food.name %></td>

    <td><%= food.price %></td>
    <td><%= food.comment %></td>
    <td><% if food.picture && food.picture.url %>
          <%= link_to '🐓', food_path(food.id) %>
        <% else %>
          <%= "" =%>
        <% end %>
    </td>

      <% if current_user == nil %>
      <% elsif current_user.admin %>
        <td><%= link_to '焼き鳥を編集する', edit_food_path(food.id), data: { confirm: '本当に編集していいですか？' } %></td>
        <td><%= link_to '焼き鳥を削除する', food_path(food.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
      <% end %>



  </tr>
<% end %>
</tbody>
</table>
</div_food>

<br>
<% if current_user == nil %>
<% elsif current_user.admin %>
  <%=link_to '新しく焼き鳥を登録する', new_food_path %>
<% end %>
</div>
