<h1>焼き鳥詳細画面</h1>
<p>焼き鳥: <%= @food.name %></p>
<p>
  <strong>写真: </strong>
  <%= image_tag @food.picture.url %>
</p>
<p>値段: <%= @food.price %></p>
<p>一言: <%= @food.comment %></p>

<%= link_to "焼き鳥一覧画面に戻る", foods_path %>
