
<%= form_with(model: @side_menu, local: true) do |form| %>
  <% if @side_menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= @side_menu.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @side_menu.errors.full_messages.each do |msg| %>
        <li><%=msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="side_menu_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="side_menu_picture">
    <%= form.label :picture%>
    <%= form.file_field :picture %>
    <% if @side_menu.picture.url %>
      <%= image_tag @side_menu.picture.url %>
    <% end %>
    <br>

  </div>
  <div class="side_menu_price">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
  <div class="side_menu_kind">
    <%= form.label :kind %>
    <%= form.select :kinds, SideMenu.kinds.keys.to_a, {} %>
  </div>





  <%= form.submit %>
<% end %>

<%= link_to "サイドメニュー一覧画面に戻る", side_menus_path %>
