<div class="side_menubody">
<div class="container">
  <div class="ordertype">
    <p1>一品料理</p1>
  </div>
  <div class="order-title" >
      <p2>京都坂ノ途中監修の無農薬オーガニック野菜など、焼き鳥の合間に一品料理も是非お楽しみください。</p2>
  </div>

  <% if current_user == nil %>
  <% elsif %>
    <button type="button" class="btn btn-danger rounded-pill">
    <%=link_to '新しく一品料理を登録する', new_side_menu_path %></button>
  <% end %>



  <br>



  <div class="row">
   <div class="col">
     <div class = "side_menukind0">
       <table height="100">
         <thead>
          <tr>
            <th height="100"><h2>[一品料理]</h2></th>
            <th height="100">お値段</th>
          </tr>
         </thead>
         <tbody>
            <% @side_menus.each do |side_menu| %>
            <% if side_menu.kind == '一品料理' %>
          <tr>
            <td><%= side_menu.name %></td>
            <td><%= side_menu.price %></td>
            <td>
            <% if side_menu.picture && side_menu.picture.url %>
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter-<%= side_menu.id %>">
              <%= '🐓' %>
            <% else %>
              <%= '　'%>
            <% end %>
              </button>
              <div class="modal fade" id="exampleModalCenter-<%= side_menu.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-<%= side_menu.id %>" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <p5 class="modal-title" id="exampleModalCenterTitle-<%= side_menu.id %>"><%= side_menu.name %></p5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                      <div class="modal-body">
                        <div class="modalpicture">
                          <p><%= image_tag "#{side_menu.picture.url}",:width => '50%', :height => '50%' %></p>
                        </div>
                      </div>
                    <div class="modal-footer">
                      <h5><%= side_menu.price %>円</h5>
                    </div>
                  </div>
                </div>
              </div>
              </td>
                <% if current_user == nil %>
                <% elsif %>
                  <td>
                    <button type="button" class="btn btn-warning rounded-pill">
                    <%= link_to '編集', edit_side_menu_path(side_menu.id), data: { confirm: '本当に編集していいですか？' } %></button></td>
                  <td>
                    <button type="button" class="btn btn-secondary rounded-pill">
                    <%= link_to '削除', side_menu_path(side_menu.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></button></td>
                <% end %>
          </tr>
        　  <% end %>
        　  <% end %>
      </tbody>
    　</table>
    </div>
   </div>

   <div class="col">
     <div class = "side_menukind1">
       <table height="100">
        <thead>        　　
          <tr>
            <th height="100"><h2>[〆もの]</h2></th>
            <th height="100">お値段</th>
          </tr>
         </thead>
         <tbody>
            <% @side_menus.each do |side_menu| %>
            <% if side_menu.kind == '〆もの' %>
          <tr>
            <td><%= side_menu.name %></td>
            <td><%= side_menu.price %></td>
            <td>
            <% if side_menu.picture && side_menu.picture.url %>
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter-<%= side_menu.id %>">
              <%= '🐓' %>
            <% else %>
              <%= '　'%>
            <% end %>
              </button>
              <div class="modal fade" id="exampleModalCenter-<%= side_menu.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-<%= side_menu.id %>" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered
                " role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <p5 class="modal-title" id="exampleModalCenterTitle-<%= side_menu.id %>"><%= side_menu.name %></p5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                      <div class="modal-body">
                        <div class="modalpicture">
                          <p><%= image_tag "#{side_menu.picture.url}",:width => '50%', :height => '50%' %></p>
                        </div>
                      </div>
                    <div class="modal-footer">
                      <h5><%= side_menu.price %>円</h5>
                    </div>
                  </div>
                </div>
              </div>
              </td>
                <% if current_user == nil %>
                <% elsif %>
                  <td>
                    <button type="button" class="btn btn-warning rounded-pill">
                    <%= link_to '編集', edit_side_menu_path(side_menu.id), data: { confirm: '本当に編集していいですか？' } %></button></td>
                  <td>
                    <button type="button" class="btn btn-secondary rounded-pill">
                    <%= link_to '削除', side_menu_path(side_menu.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></button></td>
                <% end %>
          </tr>
        　  <% end %>
        　  <% end %>
      　</tbody>
    　</table>
    </div>
   </div>


</div>
</div>

<br>

</div>
