<div class ="main-container-side_menu">



<h1>一品料理</h1>
<h2>京都坂ノ途中監修の無農薬オーガニック野菜など、焼き鳥の合間に一品料理も是非お楽しみください。</h2>

<div side_menukind0>
  <h2>［一品料理］</h2>
<table>
  <thead>
    <tr>　
      <th>おしなもの</th>
      <th>値段</th>
      <th>写真</th>
    </tr>
  </thead>

  <tbody>
<% @side_menus.each do |side_menu| %>
  <% if side_menu.kind == '一品料理' %>
<tr>
    <td><%= side_menu.name %></td>
    <td><%= side_menu.price %></td>
    <td><% if side_menu.picture && side_menu.picture.url %>
          <%= link_to '🐓', side_menu_path(side_menu.id) %>
        <% else %>
          <%= "" =%>
        <% end %>
    </td>

    <% if current_user == nil %>
    <% elsif current_user.admin %>
      <td><%= link_to '一品料理を編集する', edit_side_menu_path(side_menu.id), data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to '一品料理を削除する', side_menu_path(side_menu.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>
    </tr>
   <% end %>
  <% end %>
  </tbody>
 </table>
</div>

<div side_menukind1>
  <h2>［〆もの］</h2>
<table>
  <thead>
    <tr>　
      <th>おしなもの</th>
      <th>値段</th>
      <th>写真</th>
    </tr>
  </thead>

  <tbody>
<% @side_menus.each do |side_menu| %>
  <% if side_menu.kind == '〆もの' %>
<tr>
    <td><%= side_menu.name %></td>
    <td><%= side_menu.price %></td>
    <td><% if side_menu.picture && side_menu.picture.url %>
          <%= link_to '🐓', side_menu_path(side_menu.id) %>
        <% else %>
          <%= "" =%>
        <% end %>
    </td>

    <% if current_user == nil %>
    <% elsif current_user.admin %>
      <td><%= link_to '一品料理を編集する', edit_side_menu_path(side_menu.id), data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to '一品料理を削除する', side_menu_path(side_menu.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>
    </tr>
   <% end %>
  <% end %>
  </tbody>
 </table>
</div>

<br>
<% if current_user == nil %>
<% elsif current_user.admin %>
  <%=link_to '新しく一品料理を登録する', new_side_menu_path %>
<% end %>
</div>
