<!DOCTYPE html>
<html>
  <head>
    <title>Graduation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h> やきとり　</h>
      <ul>
        <%= link_to "トップページ", tops_path %>
        <%= link_to "焼き鳥一覧", foods_path %>
        <%= link_to "ドリンク一覧", drinks_path %>
      </ul>


  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <h> 東京都一之江</h>
    </footer>
</html>
