<!DOCTYPE html>
<html>
  <head>
    <%= analytics_init if Rails.env.production? %>
    <title>toriyu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
      <h1>瑞江の本格炭火の焼き鳥店 『鳥勇』</h1>

      <ul>

        <%= link_to "トップページ", tops_path %>
        <%= link_to "アクセス", maps_path %>
        <%= link_to "お店のInstagram", "https://www.instagram.com/toriyuu_yakitori", :target=>["_blank"] %>
        <%= link_to "お客様からのレビュー", blogs_path %>
        <br>
        <%= link_to "焼き鳥", foods_path %>
        <%= link_to "一品料理", side_menus_path %>
        <%= link_to "お飲み物", drinks_path %>
        <%= link_to "日本酒", sakes_path %>

        <br>

        <p>

        <% if user_signed_in? %>　　　　　

        <%= current_user.name %>
        さんがログインしています。
        <% end %>
        <% if current_user == nil %>
        <% elsif current_user.admin == true %>
          <%= '🐓' %>
        <% end %>
        </p>

        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
         <%= link_to "ログイン", new_user_session_path %>
         <%= link_to "新規登録", new_user_registration_path %>
        <% end %>
      </ul>


  </header>

  <body>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
    <% end %>


    <%= yield %>

  </body>

  <footer>
    <br>




    <h3>住所：〒132-0013 東京都江戸川区江戸川２丁目６−２</h3>

    <h4>営業時間：火曜日～日曜　18時から24時</h4>
    <h4>定休日：月曜</h4>

    <% if current_user == nil %>
    <% elsif current_user.admin %>
      <%= link_to 'ユーザー一覧', users_path %>
      <%= link_to '管理ページ', rails_admin_path %>
    <% end %>



    </footer>
</html>
